.item img {
  height: 600px;
  overflow: hidden;
  object-fit: cover;
  filter:brightness(50%)
}

.caption {
  background-color: rgba(129, 129, 129, 0.6);
  top: 50%;
  transform: translateY(-50%);
}

.caption h3 {
  color: #F9FFA4;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.caption p {
  color: #fff;
  font-size: 62px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: none;
}
